<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="FormX" value="306" />
    <add key="FormY" value="41" />
    <add key="FormWidth" value="1194" />
    <add key="FormHeight" value="911" />
    <add key="FormMax" value="false"/>
    <add key="InfoFileName" value="realmsinfo.roa" />
    <add key="InfoColors" value="0,-256|1,-16716800|2,-11162881|3,-27137|4,-10027009|5,-32768|6,-786432|7,-10158159|8,-16744193|9,-61441|10,-17991|11,-35467|12,-5383962" />
    <add key="InfoShow" value="" />
    <add key="RealmsDir" value="E:\Games\RealmsOfAntiquity\Game\Data" />
    <add key="ShowGrid" value="false" />
    <add key="PixelSize" value="3" />
    <add key="Shading" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>